@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .bg-darkmode {
    @apply bg-[#1b1d25];
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-white text-black dark:bg-darkmode dark:text-white;
}

.HeaderStyleLeft {
  @apply flex-1  font-bold  flex items-center justify-start cursor-pointer;
}

.HeaderStyle {
  @apply flex-1  font-bold  flex items-center justify-center cursor-pointer;
}
